<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | Mercadoliebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="top-header flex-row">
         <picture class="logo">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercadoliebre"></a>
         </picture>
         <form class="form">
             <input type="text" class="input" placeholder="Buscar productos, marcas y más">
             <button type="submit" class="submit"><i class="fas fa-search"></i></button>
         </form>
         <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
     </div>

    <nav>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
    
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </nav>
    <nav>
                <ul>
                    <li>
                        <a href="">Ofertas</a>
                    </li>
                    <li>
                        <a href="">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="">Vender</a>
                    </li>
                    <li>
                        <a href="">Ayuda</a>
                    </li>
                </ul>
    
                <ul>
                 <li>
                     <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                 </li>
                 <li>
                     <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                 </li>
                 <li>
                     <a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a>
                 </li>
             </ul>
 
            </nav>
            <div class="burger-menu">
             <i class="fas fa-bars"></i>
             </div>    
</header>
    <main class="register">
        <h3>Creá tu cuenta a continuación:</h3>
        <form action="/login" method="POST" enctype="multipart/form-data">
            <input type="text" name="name" id="name" placeholder="nombre y apellido" required minlength="2"><br>
            <input type="text" name="username" id="username" placeholder="nombre de usuario"><br>
            <input type="email" name="email" id="email" placeholder="correo@correo.com"><br>
            <div class="birthday">
                <label for="birthday">Fecha de nacimiento</label><br>
                <input type="date" name="birthday" id="birthday">
            </div>
            <input type="text" name="adress" id="adress" placeholder="calle falsa 123"><br>
            <h4>Perfil de Usuario</h4>
            <div class="userprofile">
                <label for="profile"><input type="radio" name="profile" value="buyer" id="buyer"> Comprador</label>  
                <label for="profile"><input type="radio" name="profile" value="seller" id="seller"> Vendedor</label>
            </div>
            <h4>Intereses</h4>
            <div class="interests">
                <label for="interests"><input type="checkbox" name="interest1" id="electro" value="electro"> Electro</label>
                <label for="interests"><input type="checkbox" name="interest2" id="moda" value="moda"> Moda</label>
                <label for="interests"><input type="checkbox" name="interest3" id="home" value="home"> Hogar</label>
                <label for="interests"><input type="checkbox" name="interest4" id="playstore" value="playstore"> Juguetería</label>
                <label for="interests"><input type="checkbox" name="interest5" id="healthy" value="healthy"> Vida Sana</label>
            </div>
            <h4>Elegí tu foto de usuario:</h4><br>
            <div class="avatar">
                <label for="avatar" class="labelTitle">Selecciona una imagen para tu perfil:</label>
                <input type="file" name="avatar" accept=".jpg" id="avatar">
            </div>
            <input type="password" placeholder="Ingresa tu contraseña" required>
            <input type="password" placeholder="Reingresa tu contraseña" required>
            <div class="buttons">
                <input type="submit" value="Enviar" class="buttontype">
                <input type="reset" value="Resetear Datos" class="buttontype">
            </div>
        </form>
    </main>
    <footer>
        <section class="contenido-footer">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="contenido-footer">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="contenido-footer">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>